<div id="<%= item.layout %>-<%= item.slug %>" class="article h-entry <%= item.layout %>" lang="<%= item.lang || config.language %>">
  <% if (item.photos && item.photos.length){ %>
    <%- partial('post/gallery') %>
  <% } %>
  <div class="post-content">
      <%- partial('post/title') %>
      <% if (item.layout != 'page'){ %>
        Published: <span class="time dt-published"><%= item.date.format(config.date_format) %></span>
        <% if (item.updated){ %>
        <br/>Updated: <span class="time dt-updated"><%= item.updated.format(config.date_format) %></span>
      <% }} %>
    </div>
    <div class="e-content entry">
      <% if (item.excerpt && index){ %>
        <%- item.excerpt %>
        <p><a href="<%- url_for(item.path) %>">[Read more]</a></p>
      <% } else { %>
        <%- item.content %>
      <% } %>
    </div>
</div>
